<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= projectName %></title>
    <style><%- codeStyle %><%- tmplStyle %><%- css %></style>
</head>
<body>
<header>
  <div class="title">Material Design</div>
</header>

<footer>
</footer>
</body>
</html>
